# Confidence Interval: With Population Data

1. Load your Libraries

In [2]:
import numpy as np
import pandas as pd
import scipy.stats as st

2. Load and Transform your Data

In [32]:
# Load your data set
df=pd.read_csv('EAI.csv')
df.columns = ["manager", "annual_salary","training_program"] # I change the column names because python does not recognize white space.
df[["annual_salary"]].describe()
# This data set is your population.

       annual_salary
count    2500.000000
mean    51800.000000
std      4000.000067
min     40990.300000
25%     49036.500000
50%     51837.300000
75%     54577.675000
max     63538.700000

3. Random Sampling

In [33]:
# Random sampling

## set your sample size
n=50
df_sampl=df.sample(n)

4. Set your Input Values for CI Calculation

In [34]:
# Create key input indicators

## point estimation of mean
m=df_sampl["annual_salary"].mean()
## point estimation of standard deviation
sd=df_sampl['annual_salary'].std()
## How much can we trust your sampled data's point estimate value? = confidence
cf=0.95
## What is your degree of freedom = your sample size
df_n=n-1

print('sample size=',n,'\n'
      'mean of sample=',m,'\n'
      'standard deviation of sampe=',sd,'\n'
      "your level confidence=",cf,'\n'
      "degree of freedom=",df_n)

sample size= 50
mean of sample= 50285.64
standard deviation of sampe= 4047.01206979436
your level confidence= 0.95
degree of freedom= 49

5. T Value Calculation

In [35]:
# T value calculation

# First calculate t value given your confidence level
# abs: absolute value
# ppf: calculate cumulative distribution
# 1-cf/2: left and right tail of the margin in the t distribution
t_crit=np.abs(st.t.ppf((1-cf)/2,n-1))
print(t_crit)

2.009575234489209

6. Confidence Interval Calculation

In [36]:
# Caculate the margin of error and subtract and add to the mean to create confidence interval
(m-sd*t_crit/np.sqrt(n), m+sd*t_crit/np.sqrt(n))

(49135.491897122156, 51435.78810287784)

In [6]:
n=1000
m=4.2
sd=0.3
cf=0.95
df=n-1
t_crit=np.abs(st.t.ppf((1-cf)/2,n-1))
print(t_crit)
(sd*t_crit/np.sqrt(n), sd*t_crit/np.sqrt(n))

1.9623414611334487

(0.01861640569249344, 0.01861640569249344)